<div class="wrapper">
  <div class="top-bar">
    <div class='header-name'>
      <div class='lists-left'>
        <%= link_to 'ホーム', "/",class: "edit-list" %>
        <%= image_tag "check-lists-logo.png", class:"image-bar"%>
        <%= link_to 'リストを作成', new_check_path,class: "edit-list" %>
    </div>
   </div>
  </div>
</div>