<div class="wrapper">
  <div class="top-bar">
    <div class='header-name'>
      <div class='lists-left'>
        <%= link_to 'ホーム', "/",class: "edit-list" %>
        <%= image_tag "fish.png", class:"image-bar"%>
        
    </div>
   </div>
  </div>
</div>