<div class="wrapper">
  <div class="top-bar">
   <div class='header-name'>
    <div class='lists-left'>
      <%= link_to 'ホ-ム', "/",class: "edit-list" %>
      <%= image_tag "fish.png", class:"image-bar"%>
      <h1 class= "edit-list">　　　</h1>
    </div>
   </div>
  </div>
</div>