<div class="wrapper">
  <div class="top-bar">
    <div class='header-name'>
      <div class='lists-left'>
        <%= link_to '　ホーム　　', "/",class: "edit-list" %>
        <%= image_tag "plans-logo.png", class:"image-bar"%>
        <%= link_to 'プランを作成', new_plan_path,class: "edit-list" %>
    </div>
   </div>
  </div>
</div>