<div class="wrapper">
  <div class="top-bar">
    <div class='header-name'>
      <div class='lists-left'>
        <%= link_to '　ホーム　　', "/",class: "edit-list" %>
        <%= image_tag "newplan.png", class:"image-bar"%>
        <h1 class= "edit-list">　　　　　　　</h1>
     </div>
    </div>
  </div>
</div>