 <div class="wrapper">
  <div class="top-bar">
   <div class='nav'>
    <div class='lists-left'>
        <%= link_to '編集', "#",class: "edit-list" %>
        <%= image_tag "check-lists-logo.png", class:"image-bar"%>
        <%= link_to 'new', "#",class: "edit-list" %>
     </div>
    </div>
  </div>
</div>