<li class='list'>
     <div class='fish-img-content'>
      <%= image_tag fish.image, class: "fish-img" %>
    </div>

    <div class='fish-info'>
        <h3 class='fish-name'>
        <%= fish.name %>
        </h3>
    </div>
</li>
 
          
          
          
        